$blue: rgb(50, 65, 87);
$light-blue: rgb(58, 113, 168);
$red: rgb(192, 54, 57);
$pink: rgb(230, 93, 110);
$green: rgb(48, 176, 143);
$tiffany: rgb(74, 183, 189);
$yellow: rgb(254, 193, 113);
$panGreen: rgb(48, 176, 143);

// theme
// yellow&orange
$yo-0: rgb(255, 209, 145);
$yo-1: rgb(253, 227, 80);
$yo-2: rgb(255, 150, 40);
$yo-3: rgb(230, 100, 23);

// gray&black
$gb-0: rgb(120, 120, 120);
$gb-1: rgb(55, 58, 58);
$gb-2: rgb(40, 42, 42);
$gb-3: rgb(25, 27, 27);
$gb-4: rgb(0, 0, 0);

// blue&green
$bg-0: rgb(165, 232, 183);
$bg-1: rgb(148, 242, 212);
$bg-2: rgb(157, 252, 248);
$bg-3: rgb(112, 205, 255);
$bg-4: rgb(5, 131, 242);
$bg-5: rgb(4, 118, 217);

//sidebar
$menuBg: $gb-3;
$subMenuBg: $gb-1;
$menuHover: $gb-4;

// opacity of sldebar and header
$Opacity: 1;
